doctype 5
html(lang="en")
  head
    title=locals.page.title
    link(rel="stylesheet", type="text/css", href="/assets/css/style.css")
    script(type="text/javascript", src="/assets/scripts/post.js")
    meta(name='viewport', content='width=460,initial-scale=1, maximum-scale=1, user-scalable=no')