include includes/head
	body
		#wrapper
			include includes/mast
				#post
					h1
						|	Whats Tearoff
					p
						|	It's very simple. Tearoff is a Markdown text box that posts on the internet, and removes it later.
						|	Thats it, thats all it does. You can link to images, or whatever you like, set the number of views, and share the link. 
					p
						|	When the view count hits what you set when posting, that content goes away.
						|	Hopefully soon to support expiration dates.
			include includes/foot