html, body {
	font-size:100%;	
}
p {
	font-size:1em;	
}
form * {
	display:block;
	box-sizing: content-box;
	width:400px; 
	padding:9px 10px 10px;
	border-radius:2px;
	font-size:1em;
	background:#eee;
	border:0;
}
#submitPage {
	background:#333;
	color:white;
}